body {
    font-family: Arial, sans-serif;
    margin: 100px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.resume {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

section{
    background-color: rgb(221, 217, 217);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

h1, h2 {
    color: #333;
}

img {
    max-width: 100px;
    border-radius: 50%;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
